{% load static %}
<html>
    <head>
        <title>Bizman</title>
        <link rel="stylesheet" type="text/css" href="{% static 'inventory/css/home.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'inventory/css/bootstrap.min.css' %}"/> 
    </head>
 <body>
 
 <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'business:home' %}">Home </a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>

        </ul>
      </div>
    </nav>
    
    
        <div class="btn" align="left" >
            <a href="{% url 'business:index'%}"
            <button class="button">Inventory</button></a>
            <a href="{% url 'cart:index'%}"
            <button class="button">Billing</button></a>
            <a href="{% url "report:index"%}"
            <button class="button">Report</button></a>
        </div>
       
    </body>
</html>